
* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid cyan;
}

h2 {
    font-size: 40px;
    padding-bottom: 20px;
    color: #F6F8FA;
}

#home {
    text-align: center;
    background-color: black;
}

#title {
    font-size: 45px;
    padding: 10px 0px 10px 0px;
}

nav {
    margin: 10px 0px 0px;
    padding: 10px 0px;
    border: 2.5px solid grey;
    ul {
        list-style: none;
    }
}

.nav-list {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}


section {
    padding: 15px 30px;
}

#about-me {
    background-color: #152238;
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.about-text {
    font-size: 25px;
    line-height: 2;
}

.about-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#profile-photo {
    border-radius: 50%;
}

#college-photo {
    width: 75%;
    border-radius: 10%;
}

#personal-projects {
    background-color: #1E293B;
}

.personal-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.personal-projects-box {
    display: flex;
    flex-direction: column;
    background-color: #152238;
    border: grey solid 5px;
    border-radius: 12px;
    padding: 25px 35px;
    gap: 25px;
    font-size:25px;
}

.project-list {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#resume {
    background-color: #152238;
    
}

.resume-text {
    font-size: 25px;
    line-height: 2;
}

#contact {
    background-color: #1E293B;
}

address {
    font-size: 25px;
    line-height: 2;
}

footer {
    background-color: black;
    padding: 15px 30px;
    border: 2.5px solid grey;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 17.5px;
}

.footer-branding {
    font-style: italic;
    font-weight: bold;
}
